{% if success is defined and success %}
    <div class="form-success">
        <h1>{{ 'success_title'|trans }}</h1>
        <p>{{ 'success_message'|trans }}</p>
    </div>
{% else %}
    {% if formBuilderId is defined and formBuilderId is not null %}

        {% if form is defined %}
            {% form_theme form "PirastruFormBuilderBundle:Block:_form_theme.html.twig" %}

            <section class="form">
                <div class="row">
                    <div class="col-md-12">
                        <form method="POST" class="form-horizontal" {{ form_enctype(form) }}>
                            <fieldset>
                                {% for child in form.children %}
                                    {% if child.vars.label != null %}
                                        {{ form_label(child) }}
                                    {% endif %}
                                    {% if child.vars.label != null %}
                                        {{ form_label(child) }}
                                    {% endif %}
                                    {% if 'choice ' in child.vars.attr %}

                                        {{ form_widget(child) }}

                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-12" style="display: flex;">

                                                    {% for choice in child.vars.choices %}
                                                        {% set entity = choice.data %}
                                                        <div class="date-select" value="{{ choice.value }}">{{ choice.label }}</div>
                                                    {% endfor %}

                                                </div>
                                            </div>
                                        </div>

                                        {# TODO - move this block to stylesheets #}
                                        <style>
                                            .date-select {
                                                width: 20%;
                                                padding: 20px 40px;
                                                background-color: #e5e5e5;
                                                margin-bottom: 25px;
                                                border-right: 1px solid #ccc;
                                                cursor: pointer;
                                                color: #797a7d;
                                                text-align: center;
                                            }

                                            .date-select.active {
                                                background-color: #003b71;
                                                color: #fff;
                                            }
                                        </style>
                                        {# end TODO #}

                                    {% else %}
                                        {{ form_widget(child) }}
                                    {% endif %}
                                {% endfor %}
                            </fieldset>
                            <input type="hidden" name="formId" class="form-num " value="{{ formBuilderId }}">
                        </form>
                    </div>
                </div>
            </section>

            <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
            <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
            <script>
                $( function() {
                    $( ".js-datepicker" ).datepicker({ dateFormat: 'dd-mm-yy' });
                } );

                $('.date-select').click(function(){
                    var selected  = $(this).attr('value');
                    console.log(selected);
                    if (selected !== undefined) {
                        $('input[value=' + selected + ']').prop('checked', true);
                    }
                });
            </script>
        {% endif %}
    {% else %}
        Form not found !
    {% endif %}
{% endif %}